{% extends "layout.html.twig" %}

{% block content %}

{% for projet in projets %}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{asset('images/' ~ projet.image )}}" alt="{{ projet.description }}">
                </div>
                <div class="col-md-4">
                    {{ projet.DateDebutInscription | date("d/m/Y")}}
                    {{ projet.DateFinInscription | date("d/m/Y") }}
                </div>
                <div class="col-md-4">
                    {{ projet.user.nom }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% endblock %}
