{% extends "layout.html.twig" %}

{% block content %}

    {# Affichage des notifications #}
    <div class="container">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <main>
        <div class="container-fluid">
            <div class="row">
                <!-- ############# SIDEBAR FILTRES ############### -->
                <div class="col-md-2 col-sm-12">
                    <aside>
                        <div class="aside">
                            <!-- FILTRES -->
                            <h3>Filtrer par</h3>
                            <!-- Mots-clefs -->
                            <h4>Mot-clefs</h4>
                            <input type="text" placeholder="Recherchez..">
                            <!-- Catégories -->
                            <h4>Catégories</h4>
                            <div>
                                <input type="checkbox" id="photographie" name="photographie"
                                       checked>
                                <label for="photographie">Photographie</label>
                            </div>
                            <div>
                                <input type="checkbox" id="peinture" name="peinture">
                                <label for="peinture">Peinture</label>
                            </div>
                            <div>
                                <input type="checkbox" id="theatre" name="theatre">
                                <label for="theatre">Théâtre</label>
                            </div>
                            <!-- Deadlines -->
                            <h4>Deadlines</h4>
                            <div>
                                <input type="checkbox" id="deadline-en-cours" name="deadline-en-cours"
                                       checked>
                                <label for="deadline-en-cours">En cours</label>
                            </div>
                            <div>
                                <input type="checkbox" id="deadline-passee" name="deadline-passee">
                                <label for="deadline-passee">Passées</label>
                            </div>
                            <!-- Localisation -->
                            <h4>Localisation</h4>
                            <input type="text" placeholder="Recherchez..">
                            <!-- Montant récompense financière-->
                            <h4>Récompense financière</h4>
                            <!-- Participation financière -->
                            <h4>Participation financière</h4>
                        </div>
                    </aside>
                </div>
                <!-- ############# FIN SIDEBAR FILTRES ############### -->

                <div class="col-md-10 col-sm-12">
                    <div class="container">
                        <!-- ##### Card en cours ##### -->
                        {% for projet in projets %}
                            <!-- Calcule des jours restants -->
                            {% set difference = date(projet.dateFinInscription).diff(date("now")) %}
                            {% set leftDays = difference.days %}

                            <!-- Gestion des affichages -->
                            {% if date(projet.dateFinInscription) < date("now") %}
                                {% set affichage = "d-none" %}
                                {% set closed = "" %}
                                {% set open = "d-none" %}
                            {% elseif date(projet.dateDebutInscription) > date("now") %}
                                {% set affichage = "d-none" %}
                                {% set closed = "d-none" %}
                                {% set open = "" %}
                            {% else %}
                                {% set affichage = "" %}
                                {% set closed = "d-none" %}
                                {% set open = "d-none" %}
                            {% endif %}

                            <div class="row carte {{ affichage }}">
                                <div class="col-md-11 no-padding lib-item" data-category="view">
                                    <div class="lib-panel">
                                        <div class="row box-shadow justify-content-between">
                                            <div class="titre row">
                                                <h3>
                                                    {% for domaine in projet.domaine %}
                                                        {{ domaine.categorie }}
                                                        {% if loop.last != true %}
                                                            ,
                                                        {% endif %}
                                                    {% endfor %}
                                                </h3>
                                            </div>
                                            <div class="col-md-3 imageContent">
                                                <img class="lib-img-show card-img"
                                                     src="{{ asset('images/' ~ projet.image ) }}">
                                            </div>   <!--{# fin div. col-md-3#}  -->

                                            <div class="col-md-6">
                                                <div class="lib-row lib-header">
                                                    <h4>{{ projet.titre | capitalize }}</h4>
                                                    <div class="lib-header-seperator"></div>
                                                </div>
                                                <div class="lib-row lib-desc">
                                                    <p>{{ projet.description | capitalize | raw }}</p>
                                                    <a href="">{{ projet.user.prenom | capitalize }} {{ projet.user.nom | capitalize }}</a>
                                                </div>
                                            </div>   <!--{# fin div. col-md-8#} -->

                                            <div class="col-md-2 compteur">

                                                <!-- COMPTEUR JOURS -->

                                                <!-- Gestion des couleurs -->
                                                {% if leftDays < 11 %}
                                                    {% set couleur = "red" %}

                                                {% elseif leftDays < 31 %}
                                                    {% set couleur = "yellow" %}

                                                {% else %}
                                                    {% set couleur = "green" %}
                                                {% endif %}

                                                <div class="myloader {{ affichage }}">
                                                    <div class="titre-compteur">nombre de jour restants</div>
                                                    <hr id="barre">
                                                    <p class="debut">Date de début
                                                        : {{ projet.dateDebutInscription | date('d/m/Y') }}</p>
                                                    <div id="wrapper" class="center">
                                                        <svg class="progress noselect {{ couleur }}"
                                                             data-progress="{{ leftDays }}" x="0px" y="0px"
                                                             viewBox="0 0 80 80">
                                                            <path class="track"
                                                                  d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0"/>
                                                            <path class="fill"
                                                                  d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0"/>
                                                            <text class="value" x="50%" y="55%">0%</text>
                                                            <text class="text" x="50%" y="115%">Blue</text>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div> <!--{# div.compteur #} -->

                                        </div>    <!--{# div.box shadow #} -->
                                    </div>    <!--{# div.lib panel #}  -->
                                </div>   <!--{ # div.col md-10 #}  -->
                            </div>  <!--{ # div.row #} -->
                                    <!-- ##### FIN Card en cours ##### -->
                        {% endfor %}


                        <!-- ##### Card a venir ##### -->
                        {% for projet in projets %}
                            <!-- Calcule des jours restants -->
                            {% set difference = date(projet.dateFinInscription).diff(date("now")) %}
                            {% set leftDays = difference.days %}

                            <!-- Gestion des affichages -->
                            {% if date(projet.dateFinInscription) < date("now") %}
                                {% set affichage = "d-none" %}
                                {% set closed = "" %}
                                {% set open = "d-none" %}
                            {% elseif date(projet.dateDebutInscription) > date("now") %}
                                {% set affichage = "d-none" %}
                                {% set closed = "d-none" %}
                                {% set open = "" %}
                            {% else %}
                                {% set affichage = "" %}
                                {% set closed = "d-none" %}
                                {% set open = "d-none" %}
                            {% endif %}
                            <div class="row carte  {{ open }}">
                                <div class="col-md-11 no-padding lib-item" data-category="view">
                                    <div class="lib-panel">
                                        <div class="row box-shadow justify-content-between">
                                            <div class="titre row">
                                                <h3>
                                                    {% for domaine in projet.domaine %}
                                                        {{ domaine.categorie }}
                                                        {% if loop.last != true %}
                                                            ,
                                                        {% endif %}
                                                    {% endfor %}
                                                </h3>
                                            </div>
                                            <div class="col-md-3 imageContent">
                                                <img class="lib-img-show card-img"
                                                     src="{{ asset('images/' ~ projet.image ) }}">
                                            </div>   <!--{# fin div. col-md-3#}  -->

                                            <div class="col-md-6">
                                                <div class="lib-row lib-header">
                                                    <h4>{{ projet.titre | capitalize }}</h4>
                                                    <div class="lib-header-seperator"></div>
                                                </div>
                                                <div class="lib-row lib-desc">
                                                    <p>{{ projet.description | capitalize | raw }}</p>
                                                    <a href="">{{ projet.user.prenom | capitalize }} {{ projet.user.nom | capitalize }}</a>
                                                </div>
                                            </div>   <!--{# fin div. col-md-8#} -->

                                            <div class="col-md-2 compteur">

                                                <!-- COMPTEUR JOURS -->

                                                <div class="myloader {{ open }}">
                                                    <p class="myloader-text">Début des inscriptions le
                                                        : {{ projet.dateDebutInscription | date('d/m/Y') }}</p>
                                                </div>

                                            </div> <!--{# div.compteur #} -->

                                        </div>    <!--{# div.box shadow #} -->
                                    </div>    <!--{# div.lib panel #}  -->
                                </div>   <!--{ # div.col md-10 #}  -->
                            </div>  <!--{ # div.row #} -->
                            <!-- ##### FIN Card a venir ##### -->

                        {% endfor %}


                        <!-- ##### Card terminées ##### -->
                        {% for projet in projets %}
                            <!-- Calcule des jours restants -->
                            {% set difference = date(projet.dateFinInscription).diff(date("now")) %}
                            {% set leftDays = difference.days %}

                            <!-- Gestion des affichages -->
                            {% if date(projet.dateFinInscription) < date("now") %}
                                {% set affichage = "d-none" %}
                                {% set closed = "" %}
                                {% set open = "d-none" %}
                            {% elseif date(projet.dateDebutInscription) > date("now") %}
                                {% set affichage = "d-none" %}
                                {% set closed = "d-none" %}
                                {% set open = "" %}
                            {% else %}
                                {% set affichage = "" %}
                                {% set closed = "d-none" %}
                                {% set open = "d-none" %}
                            {% endif %}
                            <div class="row carte  {{ closed }}">
                                <div class="col-md-11 no-padding lib-item" data-category="view">
                                    <div class="lib-panel">
                                        <div class="row box-shadow justify-content-between">
                                            <div class="titre row">
                                                <h3>
                                                    {% for domaine in projet.domaine %}
                                                        {{ domaine.categorie }}
                                                        {% if loop.last != true %}
                                                            ,
                                                        {% endif %}
                                                    {% endfor %}
                                                </h3>
                                            </div>
                                            <div class="col-md-3 imageContent">
                                                <img class="lib-img-show card-img"
                                                     src="{{ asset('images/' ~ projet.image ) }}">
                                            </div>   <!--{# fin div. col-md-3#}  -->

                                            <div class="col-md-6">
                                                <div class="lib-row lib-header">
                                                    <h4>{{ projet.titre | capitalize }}</h4>
                                                    <div class="lib-header-seperator"></div>
                                                </div>
                                                <div class="lib-row lib-desc">
                                                    <p>{{ projet.description | capitalize | raw }}</p>
                                                    <a href="">{{ projet.user.prenom | capitalize }} {{ projet.user.nom | capitalize }}</a>
                                                </div>
                                            </div>   <!--{# fin div. col-md-8#} -->

                                            <div class="col-md-2 compteur">

                                                <!-- COMPTEUR JOURS -->

                                                <div class="myloader {{ closed }}">
                                                    <p class="myloader-text">Inscriptions terminées</p>
                                                </div>

                                            </div> <!--{# div.compteur #} -->

                                        </div>    <!--{# div.box shadow #} -->
                                    </div>    <!--{# div.lib panel #}  -->
                                </div>   <!--{ # div.col md-10 #}  -->
                            </div>  <!--{ # div.row #} -->
                            <!-- ##### FIN Card a venir ##### -->

                        {% endfor %}

                    </div> <!--{# div. container#} -->
                </div>
            </div> <!-- FIN div.row  -->
        </div> <!-- FIN div.container-fluid  -->
    </main>

{% endblock %}
