{% extends "layout.html.twig" %}


{% block page_title %}
    Publiez votre appel à projets
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css"
          integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="form.css">
{% endblock %}


{% block final_javascripts %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"
            integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#form_contenu'));
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'D&eacute;sol&eacute;, le fichier est trop volumineux'
            }
        });
    </script>
{% endblock %}

{% block content %}
    {#{{ dump(form.submit) }}#}
    {# FORM #}
    <form method="post">
    <div class="form-group">
        <label c{lass="col-md-8 control-label"><h3>Titre de l'appel</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
                {{ form(form.titre) }}
            </div>
        </div>
    </div>


    <!-- DOMAINE ARTISTIQUE-->
    <div class="form-group">
        <label class="category col-md-8 control-label"><h3>Catégorie</h3></label>
        <div class="col-md-4 categorie">

                {{ form(form.domaine) }}
        </div>
    </div>


    <!-- DEBUT DE L'INSCRIPTION-->
    <div class="form-group">
        <label class="col-md-8 control-label"><h3>Début d'inscription</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
                {{ form(form.dateDebutInscription) }}
            </div>
        </div>
    </div>


    <!-- FIN DE L'INSCRIPTION-->
    <div class="form-group">

        <label class="col-md-8 control-label"><h3>Fin d'inscription</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
                {{ form(form.dateFinInscription) }}
            </div>
        </div>


    </div>

    <!-- DESCRIPTION-->

    <div class="form-group">
        <label class="col-md-8 control-label"><h3>Description</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group"">
                {{ form(form.description) }}
            </div>
        </div>
    </div>

    <!-- ADRESSE DU SITE WEB-->

    <div class="form-group">
        <label class="col-md-8 control-label"><h3>Adresse du site web</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
                {{ form(form.website) }}
            </div>
        </div>
    </div>

    <!-- DEBUT DE L'EVENEMENT-->
    <div class="form-group">
        <label class="col-md-8 control-label"><h3>Début d'inscription</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
                {{ form(form.dateDebutEvenement) }}
            </div>
        </div>
    </div>


    <!-- FIN DE L'EVENEMENT-->
    <div class="form-group">

        <label class="col-md-8 control-label"><h3>Fin d'inscription</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
                {{ form(form.dateFinEvenement) }}
            </div>
        </div>
    </div>

    <!-- IMAGE-->

    <div class="form-group">
        <label class="col-md-8 control-label"><h3>Image</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
                {{ form(form.image) }}
            </div>
        </div>
    </div>

    <!-- VILLE-->

    <div class="form-group">
        <label class="col-md-8 control-label"><h3>Ville</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
                {{ form(form.ville) }}
            </div>
        </div>
    </div>

    <!-- PAYS-->

    <div class="form-group">
        <label class="col-md-8 control-label"><h3>Pays</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
                {{ form(form.pays) }}
            </div>
        </div>
    </div>


    <!-- MONTANT RECOMPENSE FINANCIERE-->
    <div class="form-group">
        <label class="col-md-8 control-label"><h3>Montant de la récompense financière</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
                {{ form(form.budget) }}
            </div>
        </div>
    </div>


    <!-- FRAIS PARTICIPATION-->
    <div class="form-group">
        <label class="col-md-8 control-label"><h3>Frais de participation</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
                {{ form(form.frais) }}
            </div>
        </div>
    </div>

    <!-- DOCUMENT DE PRESENTATION-->
    <div class="form-group">
        <label class="col-md-8 control-label"><h3>Document de présentation (optionnel)</h3></label>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
                {{ form(form.document) }}
            </div>
        </div>
    </div>

    {{ form(form)}}
    </form>

{% endblock %}


