           <div class="col-md-11 no-padding lib-item" data-category="view">
                            <div class="lib-panel">
                                <div class="row box-shadow justify-content-between">
                                    <div class="titre row">
                                        <h3>

                                            {% for domaine in projet.domaine %}
                                                {{ domaine.categorie }}
                                                {% if loop.last != true %}
                                                    ,
                                                {% endif %}
                                            {% endfor %}
                                        </h3>
                                    </div>
                                    <div class="col-md-3 imageContent">
                                        <img class="lib-img-show card-img"
                                             src="{{ asset('images/' ~ projet.image ) }}">
                                    </div>   <!--{# fin div. col-md-3#}  -->

                                    <div class="col-md-6">
                                        <div class="lib-row lib-header">
                                            <h4>{{ projet.titre | capitalize }}</h4>
                                            <div class="lib-header-seperator"></div>
                                        </div>
                                        <div class="lib-row lib-desc">
                                            <p>{{ projet.description | capitalize | raw }}</p>
                                            <a href="">{{ projet.user.prenom | capitalize }} {{ projet.user.nom | capitalize }}</a>
                                        </div>
                                    </div>   <!--{# fin div. col-md-8#} -->

                                    <div class="col-md-2 compteur">