<div class="col-md-2 col-sm-12">
    <aside>
        <div class="aside">
            <!-- FILTRES -->
            <h3>Filtrer par</h3>
            <!-- Mots-clefs -->
            <h4>Mot-clefs</h4>
            <div class="col-md-12">
                {{ form_start(search, {attr:{novalidate: 'novalidate', action: path('recherche_projet')}}) }}
                {{ form_widget(search.description) }}
                {{ form_end(search) }}
            </div>
            <!-- Catégories -->
            <h4>Catégories</h4>
            <div class="col-md-4">
                {{ form_start(form, {attr:{novalidate: 'novalidate', action: path('filtres_projet') }}) }}
                {% for domaine in form.domaine %}
                    {{ form_widget(domaine) }}
                {% endfor %}
            </div>
            <!-- Deadlines -->
            <div class="col-md-4">
                <h4>Deadlines</h4>
                {{ form_widget(form.date_debut_evenement) }}
                {{ form_widget(form.date_debut_inscription) }}
                {{ form_widget(form.date_fin_inscription) }}
                {{ form_end(form) }}
            </div>
        </div>
    </aside>
</div>